<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Pingcord</title>
    <!-- Load style via /assets/styles/disordV2.css-->
    <link rel="stylesheet" href="/assets/styles/discordV2.css">
    <!-- Load script via /assets/scripts/disordV2.js-->
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/assets/scripts/discordV2.js"></script>
</head>

<body>

    <div class="serverList" id="serverList">
        <!-- class="active" -->
        <button>Server 1 ICON</button>
        <button>Server 2 ICON</button>
        <button>Server 3 ICON</button>
        <button>Server 4 ICON</button>
    </div>

    <div class="channelList" id="channelList">
        <button>Home</button>
        <button>News</button>
        <button>Contact</button>
        <button>About</button>
    </div>

    <div class="div">
        <ul id="messages" class="messages"></ul>

        <form id="form" class="form" action="">
            <input id="input" class="input" autocomplete="off" /><button>Send</button>
        </form>
    </div>



    <div id="login" class="loginModal">

        <form class="loginModal-content loginAnimate" action="/action_page.php" method="post">
            <div class="loginImgcontainer">
                <span onclick="document.getElementById('login').style.display='none'" class="loginClose"
                    title="Close Modal">&times;</span>
                <img src="img_avatar2.png" alt="Avatar" class="avatar">
            </div>
            

            <div class="loginContainer">
                <label for="uname"><b>Email</b></label>
                <input class="loginInput" type="text" placeholder="Enter Email" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input class="loginInput" type="password" placeholder="Enter Password" name="psw" required>

                <button class="loginButton" type="submit">Login</button>
                <label>
                    <input class="loginInput" type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('login').style.display='none'"
                    class="loginCancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>

</body>

</html>